.tdecc__manage {
  width: 100%;
  max-width: var(--tdecc-content-max-width);
  margin: auto;
}

.tdecc__manage__title {
  margin-bottom: var(--tdecc-heading-margin-bottom);
  color: var(--tdecc-heading-color);
  font-size: var(--tdecc-heading-font-size);
}

.tdecc__manage__desc {
  margin-bottom: var(--tdecc-manage-desc-margin-bottom);
}

.tdecc__manage__error {
  margin: var(--tdecc-manage-error-margin);
  padding: var(--tdecc-manage-error-padding);
  border: var(--tdecc-manage-error-border);
}

.tdecc__manage__footer {
  margin: var(--tdecc-manage-footer-margin);
  font-size: var(--tdecc-manage-footer-font-size);
}

.tdecc__manage__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    margin-bottom: var(--tdecc-manage-button-margin-bottom);
  }

  @media screen and (min-width: $tdecc-breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}
