.tdecc__manage {
  width: 100%;
  max-width: var(--tdecc-content-maxwidth);
  margin: auto;
}

.tdecc__manage__title {
  margin-bottom: 8px;
  color: var(--tdecc-heading-color);
  font-size: var(--tdecc-heading-fontsize);
}

.tdecc__manage__desc {
  margin-bottom: 24px;
}

.tdecc__manage__error {
  margin: 12px 0;
  padding: 16px;
  border: var(--tdecc-manage-error-border);
}

.tdecc__manage__footer {
  margin: 8px 0 24px;
  font-size: 0.875em;
}

.tdecc__manage__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $tdecc-breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}
