.oymcc__button {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  height: var(--oymcc-button-height);
  padding: var(--oymcc-button-padding);
  border: var(--oymcc-button-border);
  border-radius: var(--oymcc-button-border-radius);
  background: var(--oymcc-button-background);
  color: var(--oymcc-button-color);
  font-family: var(--oymcc-button-font-family);
  font-size: var(--oymcc-button-font-size);
  font-weight: var(--oymcc-button-font-weight);
  line-height: var(--oymcc-button-line-height);
  text-align: center;
  cursor: pointer;
  transition: all 250ms ease;
  text-decoration: none;
  user-select: none;

  &:hover,
  &:focus {
    background: var(--oymcc-button-hover-background);
    color: var(--oymcc-button-hover-color);
    opacity: var(--oymcc-button-hover-opacity);
  }

  svg {
    fill: var(--oymcc-button-color);

    &:first-child {
      margin-right: var(--oymcc-button-svg-spacing);
    }

    &:last-child {
      margin-left: var(--oymcc-button-svg-spacing);
    }

    &:first-child:last-child {
      margin: 0;
    }
  }
}

.oymcc__button--ghost {
  border: var(--oymcc-button-ghost-border);
  background: var(--oymcc-button-ghost-background);
  color: var(--oymcc-button-ghost-color);
  font-size: var(--oymcc-button-ghost-font-size);
  font-weight: var(--oymcc-button-ghost-font-weight);

  &:hover {
    border: var(--oymcc-button-ghost-hover-border);
    background: var(--oymcc-button-ghost-hover-background);
    color: var(--oymcc-button-ghost-hover-color);
  }
}
