$tdecc-breakpoint-sm: 480px;
$tdecc-breakpoint-md: 640px;

:root {
  /* Base */
  --tdecc-base-background: #fff;
  --tdecc-base-fontsize: 16px;
  --tdecc-base-color-primary: #82b0a2;
  --tdecc-base-text-color: #333;

  /* Backdrop */
  --tdecc-backdrop-color: rgba(0, 0, 0, 0.5);
  --tdecc-backdrop-filter: blur(8px);
  --tdecc-backdrop-boxshadow: none;

  /* Headings */
  --tdecc-heading-color: var(--tdecc-base-color-primary);
  --tdecc-heading-fontsize: 1.5em;

  /* All buttons */
  --tdecc-button-padding: 12px;
  --tdecc-button-lineheight: 1;
  --tdecc-button-fontsize: 1em;
  --tdecc-button-background: var(--tdecc-base-color-primary);
  --tdecc-button-border: 2px solid transparent;
  --tdecc-button-color: #fff;
  --tdecc-button-hover-opacity: 0.8;
  --tdecc-button-hover-background: var(--tdecc-base-color-primary);
  --tdecc-button-hover-color: var(--tdecc-button-color);
  --tdecc-button-ghost-border: 2px solid var(--tdecc-base-color-primary);
  --tdecc-button-ghost-background: transparent;
  --tdecc-button-ghost-color: var(--tdecc-base-color-primary);
  --tdecc-button-ghost-hover-border: var(--tdecc-button-ghost-border);
  --tdecc-button-ghost-hover-background: var(--tdecc-button-ghost-background);
  --tdecc-button-ghost-hover-color: var(--tdecc-button-ghost-color);

  /* Explantion > Arrows in footer */
  --tdecc-explanation-color: inherit;
  --tdecc-explanation-item-margin: 0 0 8px 0;
  --tdecc-explanation-text-decoration: none;
  --tdecc-explanation-arrow-margin: 0 4px 0 0;
  --tdecc-explanation-arrow-minwidth: 16px;

  /* Content */
  --tdecc-content-background: var(--tdecc-base-background);
  --tdecc-content-maxwidth: 1100px;
  --tdecc-content-width: 95%;
  --tdecc-content-border: var(--tdecc-base-color-primary);
  --tdecc-content-padding: 24px;
  --tdecc-content-anchor-color: var(--tdecc-base-color-primary);
  --tdecc-content-anchor-textdecoration: underline;
  --tdecc-content-borderradius: 4px;

  /* Manage */
  --tdecc-manage-option-title-color: var(--tdecc-base-text-color);
  --tdecc-manage-option-title-fontsize: 1.25em;
  --tdecc-manage-desc-title-fontsize: 0.875em;
  --tdecc-manage-button-inactive-border: 1px solid var(--tdecc-base-color-primary);
  --tdecc-manage-button-inactive-color: var(--tdecc-base-text-color);
  --tdecc-manage-button-inactive-background: var(--tdecc-base-background);
  --tdecc-manage-button-active-border: 1px solid var(--tdecc-base-color-primary);
  --tdecc-manage-button-active-color: var(--tdecc-base-background);
  --tdecc-manage-button-active-background: var(--tdecc-base-color-primary);
  --tdecc-manage-error-border: 2px solid #fff;

  /* Pop-up */
  --tdecc-popup-maxwidth: 640px;
  --tdecc-popup-close-size: 24px;
  --tdecc-popup-close-padding: 8px 16px;

  /* Overrides */
  @media screen and (min-width: $tdecc-breakpoint-md) {
    --tdecc-heading-fontsize: 2em;
  }
}

@import 'body';
@import 'wrapper';
@import 'content';
@import 'buttons';
@import 'start';
@import 'manage';
@import 'manage-options';
@import 'explanation';
@import 'notification';
