.oymcc {
  -webkit-overflow-scrolling: touch;
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  overflow: auto;
  backdrop-filter: var(--oymcc-backdrop-filter);
  background-color: var(--oymcc-backdrop-color);
  box-shadow: var(--oymcc-backdrop-box-shadow);

  .show-oymcc-overlay & {
    display: flex;
  }

  *:focus-visible {
    outline: 2px solid var(--oymcc-a11y-outline-color);
    outline-offset: var(--oymcc-a11y-outline-offset);
  }
}

.show-oymcc-overlay--bar .oymcc {
  top: auto;
  max-height: 100vh;
  background: transparent;

  @supports (background: - webkit-named-image(i)) {
    max-height: -webkit-fill-available;
  }
}
