.tdecc__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--tdecc-button-padding);
  background: var(--tdecc-button-background);
  color: var(--tdecc-button-color);
  line-height: var(--tdecc-button-lineheight);
  font-size: var(--tdecc-button-fontsize);
  cursor: pointer;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  border: var(--tdecc-button-border);
  transition: opacity .2s ease;
  user-select: none;
  box-sizing: border-box;
  text-align: center;

  &:hover,
  &:focus {
    opacity: var(--tdecc-button-hover-opacity);
    background: var(--tdecc-button-hover-background);
    color: var(--tdecc-button-hover-color);
  }

  svg {
    fill: var(--tdecc-button-color);

    &:first-child {
      margin-right: 8px;
    }

    &:last-child {
      margin-left: 8px;
    }

    &:first-child:last-child {
      margin: 0;
    }
  }
}

.tdecc__button--ghost {
  border: var(--tdecc-button-ghost-border);
  background: var(--tdecc-button-ghost-background);
  color: var(--tdecc-button-ghost-color);

  &:hover {
    border: var(--tdecc-button-ghost-hover-border);
    background: var(--tdecc-button-ghost-hover-background);
    color: var(--tdecc-button-ghost-hover-color);
  }
}
