.tdecc-content {
  margin: auto;
  font-size: var(--tdecc-base-fontsize);
  background: var(--tdecc-content-background);
  color: var(--tdecc-base-text-color);
  width: var(--tdecc-content-width);
  border: var(--tdecc-content-border);
  border-radius: var(--tdecc-content-borderradius);
  padding: var(--tdecc-content-padding);
  box-shadow: var(--tdecc-content-boxshadow);
}

.show-tdecc-overlay--popup .tdecc-content {
  max-width: var(--tdecc-popup-maxwidth);
}

.show-tdecc-overlay--bar .tdecc-content {
  width: 100%;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.tdecc-content__close {
  position: relative;
  z-index: 10;
  display: none;
  float: right;
  margin-left: 8px;
  width: var(--tdecc-popup-close-size);
  height: var(--tdecc-popup-close-size);
  padding: var(--tdecc-popup-close-padding);

  .show-tdecc-overlay--closeable & {
    display: flex;
  }
}
