.tdecc__links {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: var(--tdecc-content-maxwidth);
  color: var(--tdecc-explanation-color);
  list-style: none;
}

.tdecc__links li {
  margin: var(--tdecc-explanation-item-margin);
}

.tdecc__links a {
  color: var(--tdecc-explanation-color);
  text-decoration: var(--tdecc-explanation-text-decoration);
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.tdecc__links svg {
  margin: var(--tdecc-explanation-arrow-margin);
  min-width: var(--tdecc-explanation-arrow-minwidth);
  align-self: flex-start;
}
