.tdecc__manage {
  display: none;
  width: 100%;
  max-width: var(--tdecc-content-maxwidth);
  margin: auto;
}

.tdecc__manage__title {
  margin-bottom: 8px;
  font-size: var(--tdecc-heading-fontsize);
  color: var(--tdecc-heading-color);
}

.tdecc__manage__desc {
  margin-bottom: 24px;
}

.tdecc__manage__error {
  border: var(--tdecc-manage-error-border);
  padding: 16px;
  margin: 12px 0;
  display: none;
}

.tdecc__manage__footer {
  font-size: .875em;
  margin: 8px 0 24px;
}

.tdecc__manage__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    margin-bottom: 8px;
  }

  @media screen and (min-width: $tdecc-breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}
