.tdecc__start {
  width: 100%;
  max-width: var(--tdecc-content-maxwidth);
  margin: auto;
}

.tdecc__start__title {
  color: var(--tdecc-heading-color);
  font-size: var(--tdecc-heading-fontsize);
  margin-bottom: 8px;
}

.tdecc__start__desc {
  margin-bottom: 16px;
}

.tdecc__start__desc a {
  color: var(--tdecc-content-anchor-color);
  text-decoration: var(--tdecc-content-anchor-textdecoration);
}

.tdecc__start__choices {
  margin-bottom: 24px;

  button {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
